button.iekbcc0.iekbcc9.ju367v73.ju367v7o.ju367v9c.ju367vn.ju367vec.ju367vex.ju367v11.ju367v1c.ju367v2b.ju367v8o._12cbo8i3.ju367v8m._12cbo8i4._12cbo8i6 {
  font-family: "Bai Jamjuree";
  font-weight: bold;
  font-size: 20px;
  background-color: #E632B2 !important;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

[data-rk] .ju367v2b {
  height: 40px;
  width: 222px;
  line-height: 25px;
  letter-spacing: normal;
  align-self: center;
}

[data-rk] .iekbcc9 {
  text-align: center;
}

svg[fill="none"] {
  fill: none;
  height: 27px;
  width: 10px;
  margin-top: 10px;
}


